@charset "utf-8";
/* CSS Document */
@media only screen and (min-width:969px) and (max-width:1024px){
#hero .bannercontent{left:40px;}
#hero .hero-img{width:40%;}
#hero .text{padding-top:40px;}
#footer li{padding:0px 0px 0 10px; font-size:14px;}
#hero .text h1{font-size:42px; line-height:1.2;}
#transformsection .rightbtmtxt{position:inherit; max-width:56%; padding-left:40px;}
.padright80{padding:20px !important;}
#hero .text2{max-width:55%; padding-left:0;}
.pad80{padding:80px 0 !important;}
.padright122{padding-right:25px;}
.padright71{padding-right:25px;}
#nutritionmain .teamlist .teamimg{width:20%; padding-right:25px;}
#nutritionmain .teamcontent{padding-top:0;}
}

@media screen and (max-width:1023px) {
.bsnav-sticky.bsnav-sticky-slide.sticked.in{padding:4px 16px !important; background:#ECEFF4 !important;}
.bsnav-sticky.bsnav-sticky-slide{width:100%; position:none !important; padding:5px 15px;}
.navbar-light .navbar-brand{padding-top:12px;}
.bsnav-sticky-slide .navbar-nav .nav-item{margin-left:0; width:100%;}
.navbar-collapse{background:none; padding:15px; margin-top:15px;}
#hero .hero-img{width:40%;}
#hero .text{padding-top:0; padding-left:35px;}
#hero .text h1{font-size:34px; line-height:1.2;}
#hero .text p{font-size:20px;}
#technologysection{padding:30px 15px;}
#technologysection .technologypic{position:relative; max-width:inherit; top:0; right:0 !important; margin-top:20px;}
#whysection{padding:30px 0;}
#whysection .txtbtm{margin-top:30px;}
#whysection .txtbtm p{margin-bottom:30px;}
#whysection .txtbtm h4 br{display:none;}
#transformsection .rightbtmtxt{position:inherit; max-width:inherit; padding:30px 0 0 18px;}
#transformsection{padding:30px 0;}
#transformsection .transformbtm p{padding-bottom:20px;}
#partnersection{padding:30px 17px;}
#footer{padding:30px 0; text-align:center;}
#footer ul{text-align:center; padding:0; margin-top:15px;}
#footer li{padding:0px 8px;}
.padright80{padding:10px 20px !important;}
#hero .text2{max-width:55%;}
.pad80{padding:40px 17px 46px !important;}
.arrow{display:inline-block;}
.termsbanner{padding:30px 35px 50px;}
#nutritionsection{padding:68px 21px;}
.padright122{padding-right:25px;}
.padright71{padding-right:25px;}
#nutritionmain{padding:80px 35px;}
#nutritionmain .teamlist .teamimg{width:20%; padding-right:25px;}
}


@media screen and (max-width:767px) {
.navbar-collapse{height:100vh; padding:0;}
.bsnav-mobile .navbar{padding:140px 0 15px !important; background:#ff1000 !important;}
.bsnav-mobile .bsnav-mobile-overlay{position:absolute;}
.bsnav-sticky.bsnav-sticky-slide{right:inherit; padding:0 17px !important;}
.navbar-nav .nav-item .nav-link{font-size:16px; padding:8px 0; margin:0;}
.bsnav-sticky.bsnav-sticky-slide.sticked.in{padding:0 17px !important; background:#ECEFF4 !important;}
.bsnav .navbar-toggler-icon{width:25px; height:3px;}
.bsnav .navbar-toggler .navbar-toggler-icon::before{height:2px;}
.bsnav .navbar-toggler .navbar-toggler-icon::after{height:2px;}
.navbar-toggler .navbar-toggler-icon::after{bottom:-6px;}
.navbar-toggler .navbar-toggler-icon::before{bottom:-6px;}
.navbar-light .navbar-brand{padding:16px 0;}
.bsnav-sticky-slide .navbar-nav .nav-item{margin-left:0; width:100%;}

.navbar-toggler .navbar-toggler-icon::before {
    top: -6px;
}
.navbar-toggler:focus, .navbar-toggler:hover{
    outline: none;
}

#hero .bannermain{display:block;}
#whysection .txtbtm, #technologysection .txtbtm{display:none;}
#whysection .mobsection, #technologysection .mobsection{display:block;}

#hero{padding-top:104px;}
#hero .bannercontent{position:relative;}
#hero .text{max-width:inherit; padding:15px 32px;}
#hero .text h1{font-size:34px; line-height: 41px; letter-spacing: 0.15px; margin-bottom:35px;}
#hero .text p{font-size:18px; margin-top:0; line-height:24px; letter-spacing: 0.5px;}
#hero .text .btn.btn-primary{margin-top:39px; font-size:14px;}
#why{height:5px;}
#whysection{padding-top:20px;}
#whysection h2{font-size:24px;}
#whysection h2.mb-4{margin-bottom:36px !important;}
#technologysection .mobsection{padding-top:46px;}
#whysection .mobsection h4, #technologysection .mobsection h4{font-size:18px;}
#whysection .mobsection h4 br, #technologysection .mobsection h4 br{display:none;}
#whysection .mobsection span{width:40px; float:left;}
#whysection .mobsection span img{max-width:80%;}
#whysection .mobsection h4{padding-left:50px; margin-top:0; margin-bottom:11px; font-size:18px; line-height:24px; letter-spacing: 0.5px;}
#whysection .mobsection .pl-4{padding-left:15px !important; margin-top:34px;}
#whysection .mobsection p{padding-left:50px;}
#whysection .sub-title{font-size:18px; line-height:24px; letter-spacing:0.5px; font-weight:normal; margin-bottom:34px;}
#whysection .mobsection{padding-top:45px;}

#technologysection .mobsection span{width:40px; float:left;}
#technologysection .mobsection span img{max-width:80%;}
#technologysection .mobsection h4{padding-left:50px; margin-bottom:11px;}
#technologysection h2.mb-4{margin-bottom:34px !important; font-size:24px; letter-spacing: 0.5px; line-height: 25px; font-weight:500;}
#technologysection .mobsection .pl-4{padding-left:15px !important; padding-top:28px;}
#technologysection .mobsection p{padding-left:50px;}
#technologysection .technologypic{padding:0px 15px;}
#technologysection .mobsection ul{padding:0px 0 0 50px;}
#technologysection .mobsection li{font-size:16px; line-height: 24px; font-weight:normal;}
#technologysection h6{font-size:18px; line-height:25px; letter-spacing: 0.5px; font-weight:normal;}

#technologysection, #transformsection{padding:42px 17px 39px;}
#technologysection .technologypic{position:relative; max-width:inherit; top:0; right:0; margin-top:27px;}
#transformsection h1{font-size:34px; line-height: 42px; letter-spacing: 0.15px; text-align: center;}
.rightbtmtxt{margin-top:20px;}
#hero .hero-img{width:100%; max-width:inherit; padding:18px 0 18px 32px !important;}
#transformsection .rightbtmtxt{position:relative; max-width:inherit; padding:0 15px; right:0 !important; margin-top:10px;}
#transformsection .rightbtmtxt h4{margin-bottom:31px; line-height:36px; letter-spacing: 0.5px;}
#transformsection .transformbtm h4{line-height:24px !important; font-size:18px; font-weight:500; letter-spacing: 0.5px;}
#transformsection .rightbtmtxt h5{font-size:18px; line-height: 24px; letter-spacing: 0.5px; color:#fff;}
#transformsection .desktopsection{display:block;}
#transformsection .desktopsection h3, #transformsection .desktopsection p{display:none;}
#transformsection .mobsection{display:block; padding-top:35px;}
#transformsection.pad80{padding:46px 17px 41px !important;}

#transformsection .transformbtm span{width:40px; float:left;}
#transformsection .transformbtm span img{max-width:80%;}
#transformsection .transformbtm h4{padding-left:50px; margin:0 0 16px;}
#transformsection .transformbtm p{padding-left:50px; line-height:24px; letter-spacing: 0.5px;}
#transformsection .mobsection p{font-size:16px; letter-spacing: 0.5px; line-height:27px; font-weight:normal;}
#transformsection p br{display:none;}
#transformsection h1{margin-top:40px;}

#partnersection .text-center{text-align:left !important;}
#partnersection{padding:43px 17px 17px;}
#footer{text-align:left;}
#footer img{margin-bottom:20px;}
#footer .text-right{text-align:left !important;}
#footer ul{margin:0; padding:0; text-align:left;}
#footer li{width:100%; margin:0 0 20px; padding:0; font-size:14px; letter-spacing: 0.5px; line-height: 25px; font-weight:500; color:rgba(0, 0, 0, 0.87);}
#footer li a{color:rgba(0, 0, 0, 0.87);}
#footer.pad80{padding:48px 17px 26px !important;}
.termsbanner{padding:30px;}
.termsbanner h1{font-size:34px; line-height: 41px; font-weight:500; letter-spacing: 0.15px; color: rgba(0, 0, 0, 0.87);}
#termscontainer{padding:42px 16px;}
.arrow{display:inline-block; margin-right: 2px;}
#termscontainer .topinfo p{line-height:24px;}
#termscontainer h4{margin-top:31px;}
.navbar-toggler{
    width: 25px;
}
.padright122{padding-right:0; padding-bottom:41px;}
.padright71{padding-right:0; padding-bottom:33px;}
#nutritionmain .teamlist .teamimg{width:100%; text-align:center; padding-right:0;}
#nutritionmain .teamcontent{width:100%;}
#nutritionsection{padding:38px 21px 46px;}
#nutritionsection .topcontent h2{margin-bottom:31px;}
#nutritionsection .topcontent h2 br{display:none;}
#nutritionsection .topcontent p{font-size:18px; letter-spacing: 0.5px;}
#nutritionmain{padding:38px 31px;}
#nutritionmain p{font-size:18px; line-height:24px; letter-spacing: 0.5px; margin-bottom:30px;}
#nutritionmain .teamcontent h3{text-align:center;}
#nutritionmain .teamcontent h5{text-align:center;}
#nutritionmain .teamcontent p{font-size: 16px; line-height: 24px; letter-spacing: 0.005em; text-align: justify;}
#nutritionmain .teamrow{margin-bottom:38px;}
#nutritionmain .teamrow .teamcontent p{margin-bottom:0 !important;}
#transformsection.pad80.nutritiontransform .rightbtmtxt{display:none;}
#nutritionsection .topcontent span{width: 40px; float: left;}
#nutritionsection .topcontent h2.headingsml{padding-left:50px; margin-top:0;}
#nutritionsection .topcontent p.contentsml{padding-left:50px;}
}


@media screen and (max-width:479px){

}